/*  your css code here. If applicable */
body{
	background-color : #f5f5f5;
}

h1{		
background-color : #011e29;
color: white;
text-align:center;
	gap:20px;
}

.c1{
	display:flex;
	justify-content:space-around;
	flex-wrap:nowrap;
width: 100%;
  margin-top: 30px;
  box-sizing: border-box;

}
.latest-news-section{
	
	background-color:white;
padding: 20px;
  width: 250px;
}
.main-article-section{
	background-color:white;
	padding: 20px;
  width: 250px;
	text-align:center;
}
.pictorial-news-section{
	background-color:white;
	 width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
	
}



